@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;500;600&family=Barlow:wght@200;300;400&family=Bellefair&family=Kumbh+Sans:wght@400;700&display=swap');


.MiniHeader {
    display: flex;
    margin-top: 50px;
    position: absolute;

    h3 {
        margin-right: 40px;
        padding-bottom: 5px;
        font-family: 'barlow condensed';
        font-weight: 200;
        font-size: 20px;
      
    }

    a {
        text-decoration: none;
        color: white;
    }

    h3:hover {
        border-bottom: 2px solid white;
        cursor: pointer;
    }

}

@media screen and (max-width:900px) {
    .MiniHeader {
      margin-left: 90px;
    }
}
