@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;500;600&family=Barlow:wght@200;300;400&family=Bellefair&family=Kumbh+Sans:wght@400;700&display=swap');

.Technology Header #activeTechnology {
    border-bottom: 3px solid white;
}

.Technology {
    background-image: url('../../assets/technology/background-technology-desktop.jpg');
    height: 100vh;
    color: white;

    &__Container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 220px;
    }

    &__Area-Left {
        margin-top: 50px;
    }

    &__Title-page h2 {
        font-family: 'barlow condensed';
        font-weight: 200;
        font-size: 30px;
        letter-spacing: 2px;
    }

    &__Title-page span {
        font-weight: 600;
        color: rgba(255, 255, 255, 0.299);
    }

    &__Sidebar {
        display: flex;
        margin-top: 100px;
    }

    &__Navegation p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.429);
        margin-right: 80px;
        margin-bottom: 30px;
        font-family: 'bellefair';
        font-size: 20px;
    }

    &__Navegation p:hover {
        background-color: white;
        color: #0B0D17;
        cursor: pointer;
    }

    &__Navegation a {
        text-decoration: none;
        color: white;
    }

    &__Information h3 {
        font-family: 'barlow condensed';
        font-weight: 200;
        letter-spacing: 1px;
    }

    &__Information h2 {
        font-family: 'bellefair';
        font-weight: 200;
        font-size: 40px;
        margin-top: 5px;
        letter-spacing: 1px;
    }

    &__Information p {
        margin-top: 30px;
        width: 350px;
        font-family: 'barlow';
        font-weight: 200;
        font-size: 15px;
    }

    &__Area-right {
        margin-left: 80px;
    }

    &__Area-right img {
        height: 450px;
        margin-left: 70px;
        margin-top: 70px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
}

.Technology #navigation1 {
    background-color: white;
    color: #0B0D17;
}

@media screen and (max-width:900px) {
    .Technology {
        height: 160vh;
    }
    .Technology__Container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 0px;
        text-align: center;
    }

    .Technology__Sidebar {
        display: flex;
        flex-direction: column;
       margin-top: 0px;
    }

    .Technology__Navegation {
        display: flex;
        margin-top: 30px;
        margin-left: 90px;
    }

    .Technology__Information {
        margin-left: 30px;
    }

    .Technology__Information p {
        margin-left: 50px;
    }

    .Technology__Area-right img {
        height: 350px;
        width: 650px;
        margin-left: 0px;
        border-radius: 0px;
        margin-left: -80px;
        
    }
}

@media screen and (max-width:450px) {
    .Technology #menu {
        margin-left: 176px;
        margin-top: -80px;
        height: 163vh;
    }

    .Technology #image-menu {
       margin-left: 380px;
       margin-top: -20px;
    }

    .Technology__Area-right img {
        height: 250px;
        width: 380px;
        margin-left: -75px;
    }
}

@media screen and (max-width:350px) {
    .Technology #menu {
        margin-left: 100px;
        margin-top: -80px;
        height: 163vh;
    }

    .Technology #image-menu {
       margin-left: 310px;
       margin-top: -20px;
    }

    .Technology__Area-right img {
        height: 230px;
        width: 300px;
        margin-left: -80px;
    }

    .Technology__Navegation {
        margin-top: 30px;
        margin-left: 50px;
     }

     .Technology__Information h3 {
       margin-left: -20px;
    }

    .Technology__Title-page h2 {
        font-size: 25px;
    }

    .Technology__Information h2 {
        font-size: 30px;
        margin-top: 5px;
        margin-left: -25px;
    }

    .Technology__Information p {
        margin-left: -25px;
        width: 300px;
        font-size: 13px;
    }

    .Technology__Navegation p {

        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.429);
        margin-right: 50px;
        font-size: 15px;
    }
}